.layui-logo {
    background-color: #23262e!important;
}

.layui-logo img {
    height: 54px;
}

.logout {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 60px
}

.logout a {
    display: block;
    padding: 0 20px;
    color: #fff;
    color: rgba(255, 255, 255, .7);
    transition: all .3s;
    -webkit-transition: all .3s
}

.logout a:hover {
    color: #5FB878
}

.layui-footer {
    text-align: center;
    font-weight: 600;
}

.iconfont {
    margin-right: 8px;
}

.layui-icon {
    margin: 0 8px 0 20px;
}

.layui-body {
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

.userinfo {
    /* box-sizing: border-box; */
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
}

.layui-side-scroll .userinfo {
    width: 200px;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}

.text_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 3px;
}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33;
}